@model IEnumerable<nonleague.web.Entities.League>
@{
    ViewData["Title"] = "Non League";
}

<h3>Fixtures / Results</h3>
<hr />

<div class="list-group">
@foreach(var league in Model)
{
  <a asp-controller="Season" asp-action="Index" asp-route-compid=@league.CompetitionID class="list-group-item">
    <h4 class="list-group-item-heading">@league.Name</h4>
    <h5 class="list-group-item-heading">@league.Division</h5>
    <p class="list-group-item-text">@league.Sponsor</p>
  </a>
}    
</div>