@model IEnumerable<nonleague.web.Entities.Month>
@{
    ViewData["Title"] = "Non League";
}

<h3>Fixtures / Results</h3>
<h4>@ViewData["Heading"]</h4>
<hr />

<div class="list-group">
@foreach(var month in Model)
{
  <a asp-controller="Match" asp-action="Index" asp-route-compid=@ViewData["CompID"] asp-route-monthid=@month.ID class="list-group-item">
    <h4 class="list-group-item-heading">@month.Name</h4>
  </a>
}
</div>